body {
  /*no es oscuro*/
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  /*fuente agregada*/
  font-family: 'Open Sans', sans-serif;
}

/*after, para ubicar estilo antes de html*/
.header::after {
  content: '';
  height: 70vh;
  width: 100%;
  background-image: url('../img/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

/*inicio header*/
/*mouse posisiona sobre*/
.header:hover .header-content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/*quita el filtro*/
.header:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.header-content {
  position: absolute;
  /*traer el texto al frente*/
  z-index: 1;
  top: 10%;
  left: 0%;
  margin-top: 50px;
  width: 100%;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.header-content .titlelogo{
  font-size: 4.5rem;
}

.text {
  line-height: 1.7;
  margin-top: 1rem;
}

.title {
  /*fuente agregada*/
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
}
/*fin header*/

/*inicio seccion reco*/
.reco {
  padding: 2rem 0;
}

.container {
  /*tamaño del sitio*/
  max-width: 960px; 
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.text-center {
  text-align: center;
  margin: auto;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px;
}
/**/

/*inicio dashboard*/
.dashboard{
  padding: 2rem 0;
}
.bg-light {
  background: #fff;
  color: #333;
}

/*centrar en div*/
 .centerTable{
  margin: auto;
  width: 60%;
  padding: 2rem 0;
  display: block;
 }

 #tablaProb span{
  display:none;
}

.centerTable table {
 font-size: 12px;
}

tfoot th {
  text-align: right;
}

caption {
  font-family: 'arial', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: top;
  color: #666;
  text-align: left;
  letter-spacing: 1px;
}

table {
  background-color: rgb(194, 183, 183);
}

.grafico{
  height: 370px;
  margin-bottom: 50px;
}
 /*fin Dashboard*/

/*inicio pie*/
footer {
  padding: 1.2rem;
}

footer p {
  margin: 0;
}

#scroll {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 25px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(133, 129, 129); /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 12px; /* Some padding size*/
  border-radius: 10px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
  opacity: 0.7;
}

#scroll:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/*fin footer*/

/* RESPONSIVE */
@media (max-width: 560px) {
  .header::after {
    height: 50vh;
  }
  
  .header-content {
    top: 5%;
    left: 0%;
    margin-top: 30px;
  }

  .header-content .titlelogo {
    font-size: 2.5rem;
  }

  .header-content .title {
    font-size: 1.5rem;
  }

  .header-content .text {
    display: none;
  }
  
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .reco div {
    padding: 1.4rem 1rem;
  }

  .reco .title {
    padding: 1.4rem 1rem;
    font-size: 1.5rem;
  }

  .reco .text{
    font-size: 1.3rem;
  }

  #Iframe-Liason-Sheet {
    padding: 0rem 0rem;
   }
 
  .dashboard .text{
    padding: 1.4rem 1rem;
    font-size: 1rem;
  }

  .centerTable{
    width: 95%;
   }

   #scroll {
    right: 5px; /* Place the button 30px from the right */
    padding: 4px; /* Some padding size*/
    font-size: 6px; /* Increase font size */
  }
}


/* Landscape */
@media(max-height: 500px) {
  .header-content .title, .header-content .text {
    display: none;
  }
  .header-content {
    top: 0;
  }
}










